*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;


}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rosybrown;

}
.navbar ul{
    display: flex;
    margin: 20px 0px;
    list-style:none;

}  
.navbar ul li a{
    color: white;
    padding: 8px;
}


